# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDE related (IntelliJ, VS Code, etc)
.idea/
*.iml
*.ipr
*.iws
.vscode/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
# Uncomment if you want to exclude .vscode from git:
# .vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Pods/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# System files
desktop.ini

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Sensitive files (tambahkan jika ada di proyek Anda)
.env
google-services.json
GoogleService-Info.plist

# Example: ignore backup/temporary files
*.tmp
*.bak

# unecessary files
lib/config